<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="virtua" translate="label" sortOrder="100">
            <label>Virtua</label>
        </tab>
        <section id="featured" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Featured Products</label>
            <tab>virtua</tab>
            <resource>Virtua_FeaturedProducts::config</resource>
            <group id="featured_options" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Featured Products options</label>
                <field id="display" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Featured Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="number" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of products</label>
                </field>
            </group>
        </section>
    </system>
</config>
